* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    outline: 1px black solid;
}

ul {
    list-style: none;
    text-align: center;
    line-height: 5em;
}

li a {
    text-decoration: none;
    color : black;
}